<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello A S M !</h1>
    <div id="programmers_challenges"></div>
    <script src="../scraper/problems/programmers.json" type="text/javascript"></script>
    <script>
      window.onload = function () {
        let programmers_challenges = document.getElementById(
          "programmers_challenges"
        );
        let p_innerHTML = "프로그래머스 문제 모음";
        let programmers_problems = JSON.parse(JSON.stringify(programmers_problems));
        p_innerHTML += programmers_problems
        programmers_challenges.innerHTML = p_innerHTML;
      };

    </script>
  </body>
</html>
