<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- start of jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
    <!-- end of jquery -->

    <title>Document</title>
</head>
<body>
    <!-- start of bootstrap-table -->
    <link href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css" rel="stylesheet">

    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <!-- end of bootstrap-table -->

    <table
    id="table"
    data-url="./programmers.json"
    data-filter-control="true"
    data-show-search-clear-button="true">
        <thead>
            <tr>
                <th data-field="title" data-filter-control="select">title</th>
                <th data-field="part" data-filter-control="select">part</th>
                <th data-field="level" data-filter-control="select">level</th>
                <th data-field="finished_count" data-filter-control="select">finished_count</th>
                <th data-field="acceptance_rate" data-filter-control="select">acceptance_rate</th>
                <th data-field="solved" data-filter-control="select">solved</th>
            </tr>
        </thead>
    </table>


    <script>
    $(function() {
        $('#table').bootstrapTable()
    })
    </script>
</body>
</html>